.card {
  height: 22vh;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
  transition: height 0.3s;
}

.card:hover {
  cursor: pointer;
  height: 24vh;
}

.myInput:hover {
  border-color: #79c1f8 !important;
}

.profile-picture {
  
}
